@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #e4e0c4;
  --container: white;
  --text-color: black;
  --selected: #3B82F6;
  --font-scale: 1;
}

.dark {
  --bg-color: #101010;
  --container: #2b2b2b;
  --text-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.test{
    background: var(--container);
}

.txt-change{
    color: var(--text-color);
}

.active{
    background-color: var(--selected);
    color: white;
}

.datez{
    z-index: 1 !important;
    position: relative;
}

.s1{
    font-size: calc(1rem * var(--font-scale));
}

.s2{
    font-size: calc(1.5rem * var(--font-scale));
}

.s3{
    font-size: calc(2rem * var(--font-scale));
}

.s4{
    font-size: calc(2.5rem * var(--font-scale));
}

.s5{
    font-size: calc(3rem * var(--font-scale));
}